{% stylesheet %}
    .zhd__preloader{
      z-index: 99 !important;
    }
    .shopify-section .shopify-section-group-header-group .zhd__preloader {
        z-index: 99 !important;
    }
{% endstylesheet %}

  <!-- The preloader -->
  {% if section.settings.enable_preloading %}
  <div class="zhd__preloader" style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 1);  display: flex;justify-content: center;align-items: center;">
    <div class="loading-text" style="font-size: 48px;color: white;">
        <img src="{{ section.settings.preloader_img  | img_url: 'master' }}">
    </div>
  </div>
  {% endif %}

{% schema %}
{
  "name": "ZHD Pre Loader",
  "enabled_on": {
    "groups": ["header"]
  },
  "class": "zhd__preloader",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_preloading",
      "default": false,
      "label": "Enable Preloader?"
    },
    {
      "type": "image_picker",
      "id": "preloader_img",
      "label": "Preloader Image"
    }
  ],
  "presets": [
    {
      "name": "ZHD Pre Loader"
    }
  ]
}
{% endschema %}




{% javascript %}

  // You can set manual time so when time will be done preloader will hidden 
  // setTimeout(function () {
  //     $('.zhd__preloader').fadeOut(1000); 
  // }, 2000);

  // when all content loaded preloader will be hidden
  $(window).on("load", function() {
      $('.zhd__preloader').fadeOut(1000); 
  });   

{% endjavascript %}
